

.banned{
  margin: 5% auto;
  width: 200px;
  height: 200px;
  border: 0.5em solid transparent;
  background-color: red;
  border-radius: 100%;
  img{
    margin: -0.5em;
    border: 0.5em solid red;
    opacity: 0.75;
  }
  span{
    width: 200px;
    height: 200px;
    display: block;
    margin: -72.5% 36%;
    font-size: 42px;
    color: red;
    text-transform: uppercase;
    font-weight: 700;
    
    /* rotate */
    -webkit-transform: rotate(315deg);
       -moz-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
         -o-transform: rotate(315deg);
  }
}